.container {
  max-height: 80vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.wordList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  text-align: left;
}

.letterHeading {
  font-weight: bold;
}

.noWords {
  font-style: italic;
  font-size: 0.5em;
}

.discoveredWords {
  word-wrap: normal;
}

.totalCategoryWords {
  display: inline;
  font-style: italic;
  font-size: 0.5em;
}

.line {
  width: 100%;
}
